.font0 {
    font-size: 17px; /*标题加粗字*/
    font-weight: normal;
}

.font1 {
    font-size: 16px; /*列表主字*/
    font-weight: 400;
}

.font2 {
    font-size: 14px; /*列表次字*/
    font-weight: 200;
}

.font3 {
    font-size: 14px; /*列表"+"字号*/
}

.font4 {
    font-size: 22px; /*列表奖励金额*/
    font-family: 'DINAlternate-Bold';
}

.font5 {
    font-size: 20px; /*标题奖励金额*/
    font-weight: 500;
    font-family: 'DINAlternate-Bold';
}

.font11 {
    font-size: 16px;
    font-weight: 300;
}