<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="apiIpInterceptor"
          class="suishen.libs.spring.interceptor.IpSecurityInterceptor">
        <property name="ipFilter" value="false"></property>
        <property name="allowIpList">
            <list>
                <value>127.0.0.1</value>
                <value>192.168.20.222</value>
                <value>0:0:0:0:0:0:0:1</value>
            </list>
        </property>
    </bean>

</beans>