<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <!-- switch between local and remote deployment -->
    <bean id="sqlConnectionManager"
          class="suishen.framework.dao.connect.sql.MySQLSqlConnectionManager">
        <property name="url" value="${mysql.url}"/>
        <property name="slaveUrl" value="${mysql.slaveUrl}"/>
        <property name="username" value="${mysql.user}"/>
        <property name="password" value="${mysql.pwd}"/>
        <property name="maxActive" value="150"/>
        <property name="initialSize" value="20"/>
        <property name="maxWait" value="3000"/>
        <property name="maxIdle" value="32"/>
        <property name="minIdle" value="10"/>
        <property name="testWhileIdle" value="true"/>
        <property name="timeBetweenEvictionRunsMillis" value="300000"/>
    </bean>

    <bean id="dbTransManager"
          class="suishen.framework.dao.transaction.DefaultDBTransaction">
    </bean>
</beans>