<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="authUrlPattern" class="suishen.auth.util.AuthUrlPattern">
        <property name="protectedUrlPatternList">
            <list>
                <value>/admin/**</value>
            </list>
        </property>
        <property name="excludeRegex" value="/.+\.(html|jpg|jpeg|png|gif|js|css|swf|jsp)"></property>
    </bean>
</beans>