<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:task="http://www.springframework.org/schema/task"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">
    <task:scheduler id="suishenScheduler" pool-size="35"/>
    <task:scheduler id="executorMonitorScheduler" pool-size="1"/>

    <task:scheduled-tasks scheduler="suishenScheduler">
        <!--完成已过期的分享任务订单,每隔5分钟执行一次-->
        <task:scheduled ref="shareTaskOrderService" method="completeExpiredAndSelloutOrders" cron="0 0/5 * * * ?"/>
        <!--保存文章阅读事件,每隔5秒执行一次-->
        <task:scheduled ref="userReadService" method="handleReadEvent" cron="*/5 * * * * ?"/>
        <!--处理任务浏览记录,每隔5秒执行一次-->
        <task:scheduled ref="taskViewLogService" method="handleTaskViewLog" cron="*/5 * * * * ?"/>
        <!--处理无效任务浏览记录,每隔20秒执行一次-->
        <task:scheduled ref="taskViewLogService" method="handleInvalidViewLog" cron="*/20 * * * * ?"/>

        <!--创建评论消息,每隔5min,时间修改请修改定时任务逻辑-->
        <task:scheduled ref="commentsService" method="createCommentedMsg" cron="0 0/5 * * * ?"/>
        <!--发送消息 每隔2min-->
        <task:scheduled ref="pushService" method="doPush" cron="0 0/2 * * * ?"/>
        <!--处理金币事件 每隔1秒-->
        <task:scheduled ref="coinEventService" method="doOperation" cron="*/1 * * * * ?"/>
        <!--处理签到 每隔3秒-->
        <task:scheduled ref="checkinService" method="doCheckin" cron="*/3 * * * * ?"/>

        <!--金币兑换零钱,每日0点5分-->
        <task:scheduled ref="coinExchangeService" method="doExchange" cron="0 5 0 * * ?"/>
        <!--金币兑换补偿，每60min执行一次-->
        <task:scheduled ref="coinExchangeService" method="doMakeupCoinExchangeJob" cron="0 0/60 * * * ?"/>

        <!--更新好友列表数据，每隔60min执行一次-->
        <task:scheduled ref="inviteRelationService" method="updateInviteFriendsData" cron="0 0/60 * * * ?"/>
        <!--更新文章阅读、评论数，每隔5min执行一次-->
        <task:scheduled ref="articleCountService" method="updateTjNum" cron="0 0/5 * * * ?"/>
        <!--更新采集阅读、评论、点赞数，每隔5min执行一次-->
        <task:scheduled ref="postCountService" method="updateTjNum" cron="0 0/5 * * * ?"/>

        <!--自动使用阅读加速卡，每隔15s执行一次-->
        <task:scheduled ref="userCardsService" method="autoUseReadCard" cron="*/15 * * * * ?"/>
        <!--采集算法 清洗数据-->
        <task:scheduled ref="postWashService" method="execute" cron="0 0/10 * * *  ?"/>
        <!--用户召回-->
        <task:scheduled ref="recallPlanService" method="doRecallJob" cron="0 0/20 * * *  ?"/>
        <!--兑换资源,奖励金币-->
        <task:scheduled ref="postOrderService" method="handlePostRewardJob" cron="0 0/5 * * *  ?"/>

        <!--团队分红计算,每日23点0分-->
        <task:scheduled ref="teamCalService" method="doCal" cron="30 0 23 * * ?"/>
        <!--团队数据统计,每日23点55分-->
        <task:scheduled ref="teamCalService" method="teamDayCollect" cron="0 55 23 * * ?"/>
        <!--定时更新运营活动奖励-->
        <task:scheduled ref="optActivityService" method="doCaculateActRewardJob" cron="0 0/60 * * * ?"/>
        <!--快速组队，每隔10s执行一次-->
        <task:scheduled ref="teamMakeService" method="doTeamMake" cron="0/10 * * * * ?"/>
        <!--保存签到活跃时间 ,每隔10s-->
        <task:scheduled ref="teamCalService" method="recordCheckInActiveTime" cron="0/10 * 10/1 * * ?"/>
        <!--自动抓取文章，每隔20s执行一次-->
        <task:scheduled ref="postAutoFetchService" method="autoFetch" cron="*/20 * * * * ?"/>
        <!--处理新手期活跃徒弟,每隔2分钟执行一次-->
        <task:scheduled ref="friendActiveRewardLogService" method="handleNewActive" cron="0 0/2 * * * ?"/>
        <!--计算前天采集数据写入数据表,每日0点30分-->
        <task:scheduled ref="tjDateService" method="addPost" cron="0 30 0 * * ?"/>

        <task:scheduled ref="wxMpService" method="checkAndUpdateAccessToken" cron="*/30 * * * * ?"/>

    </task:scheduled-tasks>

    <task:scheduled-tasks scheduler="executorMonitorScheduler">
        <task:scheduled ref="monitorService" method="threadPoolMonitor" cron="*/30 * * * * ?"/>
    </task:scheduled-tasks>
</beans>