.g-section {
    width: 100%;
    vertical-align: top;
    display: inline-block
}

.g-section, .g-unit {
    zoom: 1
}

.g-split .g-unit {
    text-align: right
}

.g-split .g-first {
    text-align: left
}

.g-tpl-160 .g-unit, .g-unit .g-tpl-160 .g-unit, .g-unit .g-unit .g-tpl-160 .g-unit {
    margin: 0 0 0 160px;
    width: auto;
    float: none
}

.g-unit .g-unit .g-tpl-160 .g-first, .g-unit .g-tpl-160 .g-first,
.g-tpl-160 .g-first {
    margin: 0;
    width: 160px;
    float: left
}

.g-tpl-160-alt .g-unit, .g-unit .g-tpl-160-alt .g-unit, .g-unit .g-unit .g-tpl-160-alt .g-unit {
    margin: 0 160px 0 0;
    width: auto;
    float: none
}

.g-unit .g-unit .g-tpl-160-alt .g-first, .g-unit .g-tpl-160-alt .g-first,
.g-tpl-160-alt .g-first {
    margin: 0;
    width: 160px;
    float: right
}

.g-tpl-180 .g-unit, .g-unit .g-tpl-180 .g-unit, .g-unit .g-unit .g-tpl-180 .g-unit {
    margin: 0 0 0 180px;
    width: auto;
    float: none
}

.g-unit .g-unit .g-tpl-180 .g-first, .g-unit .g-tpl-180 .g-first,
.g-tpl-180 .g-first {
    margin: 0;
    width: 180px;
    float: left
}

.g-tpl-180-alt .g-unit, .g-unit .g-tpl-180-alt .g-unit, .g-unit .g-unit .g-tpl-180-alt .g-unit {
    margin: 0 180px 0 0;
    width: auto;
    float: none
}

.g-unit .g-unit .g-tpl-180-alt .g-first, .g-unit .g-tpl-180-alt .g-first,
.g-tpl-180-alt .g-first {
    margin: 0;
    width: 180px;
    float: right
}

.g-tpl-200 .g-unit, .g-unit .g-tpl-200 .g-unit, .g-unit .g-unit .g-tpl-200 .g-unit {
    margin: 0 0 0 200px;
    width: auto;
    float: none
}

.g-unit .g-unit .g-tpl-200 .g-first, .g-unit .g-tpl-200 .g-first,
.g-tpl-200 .g-first {
    margin: 0;
    width: 200px;
    float: left
}

.g-tpl-225 .g-unit, .g-unit .g-tpl-225 .g-unit, .g-unit .g-unit .g-tpl-225 .g-unit {
    margin: 0 0 0 226px;
    width: auto;
    float: none
}

.g-unit .g-unit .g-tpl-225 .g-first, .g-unit .g-tpl-225 .g-first,
.g-tpl-225 .g-first {
    margin: 0;
    width: 226px;
    float: left
}

.g-tpl-250 .g-unit, .g-unit .g-tpl-250 .g-unit, .g-unit .g-unit .g-tpl-250 .g-unit {
    margin: 0 0 0 250px;
    width: auto;
    float: none
}

.g-unit .g-unit .g-tpl-250 .g-first, .g-unit .g-tpl-250 .g-first,
.g-tpl-250 .g-first {
    margin: 0;
    width: 250px;
    float: left
}

.g-tpl-250-alt .g-unit, .g-unit .g-tpl-250-alt .g-unit, .g-unit .g-unit .g-tpl-250-alt .g-unit {
    margin: 0 250px 0 0;
    width: auto;
    float: none
}

.g-unit .g-unit .g-tpl-250-alt .g-first, .g-unit .g-tpl-250-alt .g-first,
.g-tpl-250-alt .g-first {
    margin: 0;
    width: 250px;
    float: right
}

.g-tpl-300 .g-unit, .g-unit .g-tpl-300 .g-unit, .g-unit .g-unit .g-tpl-300 .g-unit {
    margin: 0 0 0 300px;
    width: auto;
    float: none
}

.g-unit .g-unit .g-tpl-300 .g-first, .g-unit .g-tpl-300 .g-first,
.g-tpl-300 .g-first {
    margin: 0;
    width: 300px;
    float: left
}

.g-tpl-300-alt .g-unit, .g-unit .g-tpl-300-alt .g-unit, .g-unit .g-unit .g-tpl-300-alt .g-unit {
    margin: 0 300px 0 0;
    width: auto;
    float: none
}

.g-unit .g-unit .g-tpl-300-alt .g-first, .g-unit .g-tpl-300-alt .g-first,
.g-tpl-300-alt .g-first {
    margin: 0;
    width: 300px;
    float: right
}

.g-tpl-25-75 .g-unit, .g-unit .g-tpl-25-75 .g-unit, .g-unit .g-unit .g-tpl-25-75 .g-unit,
.g-unit .g-unit .g-unit .g-tpl-25-75 .g-unit {
    width: 75%;
    float: right;
    margin: 0
}

.g-tpl-25-75-alt .g-unit, .g-unit .g-tpl-25-75-alt .g-unit, .g-unit .g-unit .g-tpl-25-75-alt .g-unit,
.g-unit .g-unit .g-unit .g-tpl-25-75-alt .g-unit {
    width: 25%;
    float: left;
    margin: 0
}

.g-tpl-75-25-alt .g-unit, .g-unit .g-tpl-75-25-alt .g-unit, .g-unit .g-unit .g-tpl-75-25-alt .g-unit,
.g-unit .g-unit .g-unit .g-tpl-75-25-alt .g-unit {
    width: 75%;
    float: left;
    margin: 0
}

.g-tpl-75-25 .g-unit, .g-unit .g-tpl-75-25 .g-unit, .g-unit .g-unit .g-tpl-75-25 .g-unit,
.g-unit .g-unit .g-unit .g-tpl-75-25 .g-unit {
    width: 25%;
    float: right;
    margin: 0
}

.g-tpl-33-67 .g-unit, .g-unit .g-tpl-33-67 .g-unit, .g-unit .g-unit .g-tpl-33-67 .g-unit,
.g-unit .g-unit .g-unit .g-tpl-33-67 .g-unit {
    width: 67%;
    float: right;
    margin: 0
}

.g-tpl-33-67-alt .g-unit, .g-unit .g-tpl-33-67-alt .g-unit, .g-unit .g-unit .g-tpl-33-67-alt .g-unit,
.g-unit .g-unit .g-unit .g-tpl-33-67-alt .g-unit {
    width: 33%;
    float: left;
    margin: 0
}

.g-tpl-67-33-alt .g-unit, .g-unit .g-tpl-67-33-alt .g-unit, .g-unit .g-unit .g-tpl-67-33-alt .g-unit,
.g-unit .g-unit .g-unit .g-tpl-67-33-alt .g-unit {
    width: 67%;
    float: left;
    margin: 0
}

.g-tpl-67-33 .g-unit, .g-unit .g-tpl-67-33 .g-unit, .g-unit .g-unit .g-tpl-67-33 .g-unit,
.g-unit .g-unit .g-unit .g-tpl-67-33 .g-unit {
    width: 33%;
    float: right;
    margin: 0
}

.g-tpl-50-50 .g-unit, .g-unit .g-tpl-50-50 .g-unit, .g-unit .g-unit .g-tpl-50-50 .g-unit,
.g-unit .g-unit .g-unit .g-tpl-50-50 .g-unit {
    width: 50%;
    float: right;
    margin: 0
}

.g-tpl-50-50-alt .g-unit, .g-unit .g-tpl-50-50-alt .g-unit, .g-unit .g-unit .g-tpl-50-50-alt .g-unit,
.g-unit .g-unit .g-unit .g-tpl-50-50-alt .g-unit {
    width: 50%;
    float: left;
    margin: 0
}

.g-unit .g-unit .g-unit .g-tpl-75-25 .g-first, .g-unit .g-unit .g-tpl-75-25 .g-first,
.g-unit .g-tpl-75-25 .g-first, .g-tpl-25-75 .g-first {
    width: 25%;
    float: left;
    margin: 0
}

.g-unit .g-unit .g-unit .g-tpl-25-75-alt .g-first, .g-unit .g-unit .g-tpl-25-75-alt .g-first,
.g-unit .g-tpl-25-75-alt .g-first, .g-tpl-25-75-alt .g-first {
    width: 75%;
    float: right;
    margin: 0
}

.g-unit .g-unit .g-unit .g-tpl-75-25-alt .g-first, .g-unit .g-unit .g-tpl-75-25-alt .g-first,
.g-unit .g-tpl-75-25-alt .g-first, .g-tpl-75-25-alt .g-first {
    width: 25%;
    float: right;
    margin: 0
}

.g-unit .g-unit .g-unit .g-tpl-75-25 .g-first, .g-unit .g-unit .g-tpl-75-25 .g-first,
.g-unit .g-tpl-75-25 .g-first, .g-tpl-75-25 .g-first {
    width: 75%;
    float: left;
    margin: 0
}

.g-unit .g-unit .g-unit .g-tpl-33-67 .g-first, .g-unit .g-unit .g-tpl-33-67 .g-first,
.g-unit .g-tpl-33-67 .g-first, .g-tpl-33-67 .g-first {
    width: 33%;
    float: left;
    margin: 0
}

.g-unit .g-unit .g-unit .g-tpl-33-67-alt .g-first, .g-unit .g-unit .g-tpl-33-67-alt .g-first,
.g-unit .g-tpl-33-67-alt .g-first, .g-tpl-33-67-alt .g-first {
    width: 67%;
    float: right;
    margin: 0
}

.g-unit .g-unit .g-unit .g-tpl-67-33-alt .g-first, .g-unit .g-unit .g-tpl-67-33-alt .g-first,
.g-unit .g-tpl-67-33-alt .g-first, .g-tpl-67-33-alt .g-first {
    width: 33%;
    float: right;
    margin: 0
}

.g-unit .g-unit .g-unit .g-tpl-67-33 .g-first, .g-unit .g-unit .g-tpl-67-33 .g-first,
.g-unit .g-tpl-67-33 .g-first, .g-tpl-67-33 .g-first {
    width: 67%;
    float: left;
    margin: 0
}

.g-unit .g-unit .g-unit .g-tpl-50-50 .g-first, .g-unit .g-unit .g-tpl-50-50 .g-first,
.g-unit .g-tpl-50-50 .g-first, .g-tpl-50-50 .g-first {
    width: 50%;
    float: left;
    margin: 0
}

.g-unit .g-unit .g-unit .g-tpl-50-50-alt .g-first, .g-unit .g-unit .g-tpl-50-50-alt .g-first,
.g-unit .g-tpl-50-50-alt .g-first, .g-tpl-50-50-alt .g-first {
    width: 50%;
    float: right;
    margin: 0
}

.g-tpl-nest .g-section {
    display: inline
}

.g-tpl-nest .g-unit, .g-unit .g-tpl-nest .g-unit, .g-unit .g-unit .g-tpl-nest .g-unit,
.g-unit .g-unit .g-unit .g-tpl-nest .g-unit {
    float: left;
    width: auto;
    margin: 0
}

.g-tpl-nest-alt .g-unit, .g-unit .g-tpl-nest-alt .g-unit, .g-unit .g-unit .g-tpl-nest-alt .g-unit,
.g-unit .g-unit .g-unit .g-tpl-nest-alt .g-unit {
    float: right;
    width: auto;
    margin: 0
}

@media screen , projection , print {
    html, body {
        height: auto;
        margin: 0;
        padding: 0
    }

    body {
        font-family: Helvetica, Arial, sans-serif;
        font-size: small;
        color: #000;
        background-color: #fff;
        margin: 3px 8px
    }

    p {
        padding: 1em 0 0 0;
        margin: 0;
        line-height: 125%
    }

    img {
        border: none;
        padding: 0;
        margin: 0
    }

    a img {
        border: 1px solid;
        padding: 1px
    }

    code, pre {
        font-family: monospace;
        color: #007000
    }

    code {
        font-size: 10pt
    }

    pre {
        font-size: 9pt;
        background-color: #fafafa;
        border: 1px solid #bbb;
        line-height: 125%;
        margin: 1em 0 0 0;
        padding: .99em;
        overflow: auto;
        word-wrap: break-word
    }

    form {
        margin: 1em 0 0 0;
        padding: 0
    }

    blockquote {
        text-align: justify;
        margin: 1em 90px 0 70px;
        padding: 0 20px
    }

    hr {
        border: 1px solid;
        border-color: #bbb;
        margin: 1em 0
    }

    h1, h2, h3, h4 {
        margin-bottom: 0
    }

    h1 {
        font-size: 160%
    }

    h2 {
        font-size: 140%
    }

    h3 {
        font-size: 120%
    }

    h4 {
        font-size: 110%
    }

    #gc-pagecontent h1 {
        font-size: 130%;
        font-weight: bold;
        margin: 2em 0 0 -10px;
        padding: 1px 3px;
        position: relative;
        border-top: 1px solid #36C;
        background-color: #e5ecf9
    }

    .labs #gc-pagecontent h1 {
        background-color: #dcf6db;
        border-top: 1px solid #090
    }

    .depr #gc-pagecontent h1 {
        background-color: #ddd;
        border-top: 1px solid #333
    }

    #gc-pagecontent h2 {
        font-size: 130%;
        font-weight: bold;
        margin: 1.5em 0 0 0
    }

    #gc-pagecontent h3 {
        font-size: 110%;
        margin: .7em 0 0 0;
        position: relative;
        top: .4em
    }

    #gc-pagecontent h4 {
        font-size: 100%;
        font-weight: bold;
        margin: .6em 0 0 0;
        position: relative;
        top: .4em;
        z-index: 5
    }

    #gc-pagecontent h5 {
        font-size: 100%;
        font-weight: normal;
        font-style: italic;
        text-decoration: underline;
        margin: .4em 0 0 0;
        position: relative;
        top: .4em;
        z-index: 5
    }

    ol, ul {
        padding: 0;
        margin: .5em 0 0 15px;
        line-height: 125%
    }

    li ol, li ul {
        padding: 0;
        margin: 0 0 0 10px
    }

    li {
        margin: .3em 0 0 1.5em;
        padding: 0
    }

    dl {
        margin: 0;
        padding: 0;
        line-height: 125%
    }

    dt {
        font-weight: bold;
        margin: .75em 0 0 0;
        padding: 0
    }

    dd {
        margin: .4em 0 0 2em;
        padding: 0;
        font-weight: normal
    }

    li pre {
        margin: .5em 0 .6em 0
    }

    li p, dd p {
        padding: .5em 0 .6em 0;
        margin: 0
    }

    ol.termslist > li > ol {
        list-style-type: lower-alpha
    }

    ol.termslist > li > ol > li > ol {
        list-style-type: lower-roman
    }

    .listhead li {
        font-weight: bold
    }

    .listhead li *, .listhead li li {
        font-weight: normal
    }

    .code li {
        font-family: monospace;
        font-size: 10pt
    }

    .code li p, .code li li {
        font-family: Arial, Helvetica, sans-serif
    }

    ol.toc li, div.toc ol li {
        font-weight: bold;
        margin: .5em 0 0 1.5em;
        padding: 0
    }

    ol.toc li ol, div.toc ol li ol {
        margin: 0;
        padding: 0
    }

    ol.toc li ol li, div.toc ol li ol li {
        padding: 0;
        margin: .1em 0 0 1em;
        font-weight: normal;
        list-style: none
    }

    table ol.toc {
        margin-left: 0
    }

    table {
        border-collapse: collapse;
        line-height: 125%
    }

    th, td {
        text-align: left;
        vertical-align: top
    }

    table {
        margin: 1em 0 0 1px;
        border: 1px solid;
        border-color: #bbb;
        border-spacing: 0;
        border-collapse: collapse;
        clear: right
    }

    th {
        font-weight: bold;
        text-align: left;
        padding: 6px 12px;
        border: 1px solid #bbb;
        background-color: #e5ecf9
    }

    .labs #gc-pagecontent th {
        background-color: #dcf6db
    }

    td {
        padding: 6px 12px;
        border: 1px solid #bbb;
        background-color: #fff;
        text-align: left;
        vertical-align: top
    }

    td h1, td h2, td h3, td h4, td h5 {
        margin-left: 0
    }

    td ul, td ol {
        margin: 0 0 1em 15px;
        padding: 0
    }

    td p, td dl {
        margin: 0 0 1em 0;
        padding: 0
    }

    td * + p {
        margin: 1em 0 0 0;
        padding: 0
    }

    table.columns td {
        border: none;
        padding: 0 3em 0 0
    }

    table.columns td p {
        margin: 1em 0 0 0;
        padding: 0
    }

    .ftdpartners td {
        padding: 0;
        text-align: center;
        border: none;
        vertical-align: middle
    }

    .iconlist li {
        padding: 0 0 0 50px;
        margin: 0 0 30px 0;
        list-style: none
    }

    .nolist li {
        margin-left: 0;
        list-style: none
    }

    .terms form, .termsbox form {
        margin: 0;
        padding: 0
    }

    .terms table, .termsbox table, .terms td, .termsbox td {
        border: none;
        background-color: transparent
    }

    p.warning b, p.warning em, p.warning strong {
        color: #a03;
        font-weight: bold
    }

    div.linkbox a {
        font-size: 100%;
        font-weight: bold;
        border: 1px solid;
        margin: 0;
        padding: .5em;
        background-color: #e5ecf9;
        border-color: #36C
    }

    .subscribe a .linktext {
        text-decoration: underline
    }

    .subscribe img {
        width: 15px;
        height: 15px;
        vertical-align: middle;
        padding-bottom: 2px
    }

    div.sidebox h2 {
        font-size: 110%;
        font-weight: bold;
        margin: 0 5px 0 -5px;
        padding: .1em 3px .1em 5px;
        background-color: #e5ecf9;
        border-color: #36C
    }

    #gc-container {
        margin: 0;
        padding: 0;
        max-width: 1160px
    }

    #gc-pagecontent, #gc-home {
        position: relative
    }

    #gc-pagecontent {
        padding-left: 24px; /*border-left: 3px solid #e5ecf9*/
    }

    #gb a {
        text-decoration: none;
        color: #00c
    }


    #gc-header {
        padding: 7px 0 0 0;
        margin: 0px;
    }

    #gc-header #logo {
        margin: 0;
        padding-top: 5px;
        position: absolute
    }

    #gc-header a img {
        border: none;
        padding: 0;
        margin: 0
    }

    #gc-topnav h1 {
        font-size: 1.5em;
        line-height: 1.3em;
        font-weight: bold;
        background-color: transparent;
        border: 0;
        margin: 0;
        padding: 0 0 0 26px;
        float: left
    }

    #gc-topnav img {
        padding: .3em .3em .3em .5em;
        float: left;
        cursor: pointer
    }

    #gc-topnav ul {
        line-height: 1em;
        text-align: right;
        list-style: none;
        margin: 0;
        padding: .47em 0
    }

    #gc-topnav ul li {
        float: none;
        display: inline;
        margin: 0;
        padding: 0
    }

    #gc-topnav li a {
        padding: 0 .8em
    }

    .cs-breadcrumbs li {
        display: inline;
        padding: 0 0 0 0;
        margin: 0
    }

    #gc-toc {
        clear: left;
        padding: .5em 0 0 0 !important;
        margin-bottom: 1em;
        height: auto
    }

    #gc-toc * {
        zoom: 1
    }

    #gc-toc ul, #gc-toc ol {
        padding: .6em 0 0;
        margin: 0;
        line-height: 120%
    }

    #gc-toc ul ul, #gc-toc ol ol {
        padding: 0;
        margin: 0
    }

    #gc-toc ul *, #gc-toc ol *, .treelist * {
        vertical-align: middle
    }

    #gc-toc li a {
        padding-right: 4px;
        _padding-right: 0
    }

    #gc-toc ul li, #gc-toc ol li, #gc-toc .treelist li {
        list-style: none;
        padding: .2em 0 .2em 2px;
        margin: 0
    }

    #gc-toc ul li li, #gc-toc ol li li, #gc-toc .treelist li li {
        padding: .25em 0 .25em 15px
    }

    .treelist li h2 {
        display: inline
    }

    #gc-toc ul h1, #gc-toc ol h1, #gc-toc ul h2, #gc-toc ol h2 {
        font-weight: bold;
        font-size: 100%;
        margin: 0;
        padding: .2em 0;
        border: none;
        background: #fff
    }

    #gc-toc h1, #gc-toc h2 {
        font-weight: bold;
        font-size: 100%;
        margin: 0;
        padding: 0;
        border: none;
        background: #fff
    }

    #gc-toc div.line {
        border-top: thin dotted #bbb;
        height: 1px;
        margin: 1.3em 1em 0 0;
        padding: 0
    }

    #gc-toc.visible * {
        zoom: 1
    }

    #toggleimgdiv img {
        margin: 9px auto;
        position: relative;
        visibility: hidden;
        top: 56%;
        height: 12px;
        width: 4px
    }

    #navtoggle a {
        position: absolute
    }

    #gc-footer {
        clear: both;
        margin: 0;
        color: #666
    }

    #gc-footer .text {
        text-align: center;
        padding: 30px 0 0;
        margin: 0 0 0 0
    }

    #gc-footer .notice {
        padding: 0 0 8px 0
    }

    #search {
        margin: 12px 0 0 170px;
        width: 450px
    }

    #search table, #search table td {
        border: none;
        padding: 0;
        margin: 0;
        clear: none
    }

    #search form {
        margin: 0
    }

    .greytext {
        color: #aaa;
        font-size: small;
        height: 14px
    }

    .gsc-results table, .gsc-results td {
        border: 0
    }
    .g-c-gc-home h2 {
        padding-top: 1em;
        margin: 0
    }

    #gc-home h4 {
        margin-top: 1em
    }

    #gc-home img {
        margin-top: 1em
    }

    #gc-gadgets .g-unit .g-c {
        margin: 0 0 0 10px
    }

    #gc-gadgets .g-first .g-c {
        margin: 0 10px 0 0
    }

    .g-tpl-170 .g-unit, .g-unit .g-tpl-170 .g-unit, .g-unit .g-unit .g-tpl-170 .g-unit {
        margin: 0 0 0 170px;
        width: auto;
        float: none
    }

    .g-unit .g-unit .g-tpl-170 .g-first, .g-unit .g-tpl-170 .g-first,
    .g-tpl-170 .g-first {
        margin: 0;
        width: 170px;
        float: left
    }

    .g-tpl-170-alt .g-unit, .g-unit .g-tpl-170-alt .g-unit, .g-unit .g-unit .g-tpl-170-alt .g-unit {
        margin: 0 170px 0 0;
        width: auto;
        float: none
    }

    .g-unit .g-unit .g-tpl-170-alt .g-first, .g-unit .g-tpl-170-alt .g-first,
    .g-tpl-170-alt .g-first {
        margin: 0;
        width: 170px;
        float: right
    }

    .g-tpl-190 .g-unit, .g-unit .g-tpl-190 .g-unit, .g-unit .g-unit .g-tpl-190 .g-unit {
        margin: 0 0 0 190px;
        width: auto;
        float: none
    }

    .g-unit .g-unit .g-tpl-190 .g-first, .g-unit .g-tpl-190 .g-first,
    .g-tpl-190 .g-first {
        margin: 0;
        width: 190px;
        float: left
    }

    .g-tpl-190-alt .g-unit, .g-unit .g-tpl-190-alt .g-unit, .g-unit .g-unit .g-tpl-190-alt .g-unit {
        margin: 0 190px 0 0;
        width: auto;
        float: none
    }

    .g-unit .g-unit .g-tpl-190-alt .g-first, .g-unit .g-tpl-190-alt .g-first,
    .g-tpl-190-alt .g-first {
        margin: 0;
        width: 190px;
        float: right
    }

    .g-tpl-210 .g-unit, .g-unit .g-tpl-210 .g-unit, .g-unit .g-unit .g-tpl-210 .g-unit {
        margin: 0 0 0 210px;
        width: auto;
        float: none
    }

    .g-unit .g-unit .g-tpl-210 .g-first, .g-unit .g-tpl-210 .g-first,
    .g-tpl-210 .g-first {
        margin: 0;
        width: 210px;
        float: left
    }

    .g-tpl-210-alt .g-unit, .g-unit .g-tpl-210-alt .g-unit, .g-unit .g-unit .g-tpl-210-alt .g-unit {
        margin: 0 210px 0 0;
        width: auto;
        float: none
    }

    .g-unit .g-unit .g-tpl-210-alt .g-first, .g-unit .g-tpl-210-alt .g-first,
    .g-tpl-210-alt .g-first {
        margin: 0;
        width: 210px;
        float: right
    }

    .g-tpl-230 .g-unit, .g-unit .g-tpl-230 .g-unit, .g-unit .g-unit .g-tpl-230 .g-unit {
        margin: 0 0 0 230px;
        width: auto;
        float: none
    }

    .g-unit .g-unit .g-tpl-230 .g-first, .g-unit .g-tpl-230 .g-first,
    .g-tpl-230 .g-first {
        margin: 0;
        width: 230px;
        float: left
    }

    .g-tpl-230-alt .g-unit, .g-unit .g-tpl-230-alt .g-unit, .g-unit .g-unit .g-tpl-230-alt .g-unit {
        margin: 0 230px 0 0;
        width: auto;
        float: none
    }

    .g-unit .g-unit .g-tpl-230-alt .g-first, .g-unit .g-tpl-230-alt .g-first,
    .g-tpl-230-alt .g-first {
        margin: 0;
        width: 230px;
        float: right
    }

    .g-tpl-330 .g-unit, .g-unit .g-tpl-330 .g-unit, .g-unit .g-unit .g-tpl-330 .g-unit {
        margin: 0 0 0 330px;
        width: auto;
        float: none
    }

    .g-unit .g-unit .g-tpl-330 .g-first, .g-unit .g-tpl-330 .g-first,
    .g-tpl-330 .g-first {
        margin: 0;
        width: 330px;
        float: left
    }

    .g-tpl-330-alt .g-unit, .g-unit .g-tpl-330-alt .g-unit, .g-unit .g-unit .g-tpl-330-alt .g-unit {
        margin: 0 330px 0 0;
        width: auto;
        float: none
    }

    .g-unit .g-unit .g-tpl-330-alt .g-first, .g-unit .g-tpl-330-alt .g-first,
    .g-tpl-330-alt .g-first {
        margin: 0;
        width: 330px;
        float: right
    }

    .g-tpl-370 .g-unit, .g-unit .g-tpl-370 .g-unit, .g-unit .g-unit .g-tpl-370 .g-unit {
        margin: 0 0 0 370px;
        width: auto;
        float: none
    }

    .g-unit .g-unit .g-tpl-370 .g-first, .g-unit .g-tpl-370 .g-first,
    .g-tpl-370 .g-first {
        margin: 0;
        width: 370px;
        float: left
    }

    .g-tpl-370-alt .g-unit, .g-unit .g-tpl-370-alt .g-unit, .g-unit .g-unit .g-tpl-370-alt .g-unit {
        margin: 0 370px 0 0;
        width: auto;
        float: none
    }

    .g-unit .g-unit .g-tpl-370-alt .g-first, .g-unit .g-tpl-370-alt .g-first,
    .g-tpl-370-alt .g-first {
        margin: 0;
        width: 370px;
        float: right
    }

    .g-tpl-34-33-33-alt .g-unit, .g-unit .g-tpl-34-33-33-alt .g-unit,
    .g-unit .g-unit .g-tpl-34-33-33-alt .g-unit, .g-unit .g-unit .g-unit .g-tpl-34-33-33-alt .g-unit {
        width: 32.999%;
        float: right;
        margin: 0
    }

    .g-unit .g-unit .g-unit .g-tpl-34-33-33-alt .g-first, .g-unit .g-unit .g-tpl-34-33-33-alt .g-first,
    .g-unit .g-tpl-34-33-33-alt .g-first, .g-tpl-34-33-33-alt .g-first {
        width: 33.999%;
        float: right;
        margin: 0
    }

    .g-tpl-34-33-33 .g-unit, .g-unit .g-tpl-34-33-33 .g-unit, .g-unit .g-unit .g-tpl-34-33-33 .g-unit,
    .g-unit .g-unit .g-unit .g-tpl-34-33-33 .g-unit {
        width: 32.999%;
        float: left;
        margin: 0
    }

    .g-unit .g-unit .g-unit .g-tpl-34-33-33 .g-first, .g-unit .g-unit .g-tpl-34-33-33 .g-first,
    .g-unit .g-tpl-34-33-33 .g-first, .g-tpl-34-33-33 .g-first {
        width: 33.999%;
        float: left;
        margin: 0
    }
}

@media print {
    body {
        font-size: 9pt
    }

    #gb, #breadcrumbs, #gc-toc, #navtoggle {
        display: none
    }

    #search, #docs {
        visibility: hidden
    }

    #logo {
        margin: 0;
        padding: 0;
        position: static;
        display: block
    }

    .gbh {
        display: none;
        border: 0
    }

    #gc-topnav {
        display: block;
        clear: both
    }

    #gc-pagecontent {
        width: 6.75in;
        margin: 0;
        float: left;
        border: none;
        padding: 0 0 0 20px !important
    }

    pre {
        overflow: visible;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
        white-space: pre-wrap;
        word-wrap: break-word
    }

    .backtotop, #date, #trail {
        visibility: hidden
    }

    h1, h2, h3, h4, h5, h6 {
        page-break-after: avoid
    }

    table, img {
        page-break-inside: avoid
    }

    .hidden, .hidden *, #skipto, #skipto * {
        display: none
    }
}

#cs-searchresults {
    position: absolute;
    margin-left: -.3em;
    background: #fff;
    line-height: 140%;
    border: 1px #c9c9c9 solid;
    cursor: pointer;
    position: absolute;
    z-index: 2010;
    display: none
}

#cs-searchresults a {
    text-decoration: none;
    color: #000
}

#googlecode-promo sup {
    color: red;
    font-weight: normal
}